# Mengabaikan virtual environment (Sangat Penting!)
venv/
env/
.env

# Mengabaikan dataset yang besar (CSV, SQLite, dll)
Data/
*.csv
*.xlsx

# Mengabaikan folder output/log yang besar
mlruns/
outputs/

# File model diizinkan untuk diupload karena dibutuhkan oleh Railway
# models/
# *.pkl
# *.joblib

# Mengabaikan file sistem
.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.coverage
.env
.dv